@use '../variables' as *;

#contact{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background: $contact-background;
}

#contact-content{
    width: calc(400px + 30vw);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    & #title{
        color: $white-letter;
        font-size: $about-title-font-size;
        margin-bottom: 2.5vh;
    }

    & #contact-icons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        

        & .icon-container{
            width: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            & img, svg{
                cursor: pointer;
                width: 100%;
                height: 100%;
                
                filter: $white-color-filter;
                transition: all .3s linear;

                &:hover{
                    transform: scale(1.1);
                }
            }
            & #linkedin-icon{
                // filter: saturate(100%) brightness(0);
                filter: invert(100%) sepia(3%) saturate(0) hue-rotate(46deg) brightness(100%) contrast(87%);
            }
        }
        margin-bottom: 10px;
    }

    & #separator-container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 2.5vh 0;
        width: 100%;
        & p{
            color: $white-letter-disabled;
            margin: 0 10px;
        }
        & .separator{
            
            width: 100%;
            height:1px;
            background-color: $black-color-light;
        }
    }


    & .form{
        width: 100%;
        padding: 0 2vw;

        & .form-input{
            margin: 2.5vh 0;
            color: #fff;
            width: 100%;
            padding: calc(7px + .5vw);
            border: none;
            border-bottom: 3px solid $primary-color;
            background-color: transparent;
            font-size: $about-font-size;
            &::placeholder{
                font-size: $about-font-size;
            }

            &:focus{
                outline: none;
                border-bottom: 3px solid $primary-color-focus;
                background-color: #333;
            }

            &[type="submit"]{
                background-color: $primary-color;
                color: #000;
                font-weight: 600;
                border-bottom: none;
                padding: 12px;
                cursor: pointer;
    
                &:hover{
                    background-color: $primary-color-focus;
                }
            }
        }
        & label{
            color: $white-letter;
            font-size: $about-font-size;
        }

        & textarea{
            min-height: 30vh;
            resize: none;
        }
    }
}