@use 'styles/sections/nav';
@use 'styles/sections/home';
@use 'styles/sections/portfolio';
@use 'styles/sections/footer';
@use 'styles/tooltip';
@use 'styles/scrollBar';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}





