*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
$x-padding: 10vw;
$y-padding: 20vh;

$black-color: #222;
$black-color-filter: invert(0%) sepia(0%) saturate(14%) hue-rotate(213deg) brightness(86%) contrast(73%);
$black-color-light: #444;
$white-color: #ddd;
$primary-color: #24a;

$white-letter: #fff;
$white-letter-disabled: #888;

$nav-font-size: calc(15px + .5vw);
$home__title-font-size: calc(1.5em + 1vw);

/* === Navegation === */

#nav{
    width: 100%;
    height: 10vh;
    padding: 0 $x-padding;
    background-color: $black-color;
    position: sticky;
    top: 0;
    z-index: 10001;    
}

%button-setup{
    outline: none;
    background: none;
    border: none;
}

#nav{
    display: flex;

    &__list{
        flex: 1;
        display: flex;
        
        align-items: center;

        justify-content: flex-start;

        
    }
}

.list__item{
    list-style: none;
    
    button{
        color: $white-letter;
        font-size: $nav-font-size;
        @extend %button-setup;
        margin: 0 3vw;
        cursor: pointer;
    }
    
    &:first-child{
        button{
            margin-left: 0;
        }
    }
    &:not(:first-child){
        button{
            color: $white-letter-disabled;
        }
    }
    
}


/* === home === */

#home{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0 $x-padding;
    padding-top: $y-padding;
    justify-content: flex-start;
    align-items: center;
    background: $white-color;
    

    &__title{
        & .home__title-text{
            font-size: $home__title-font-size;
        }
    }


    & #tech-container{
        margin-top: auto;
        margin-bottom: calc(1em + 1vw);
        display: flex;
        
        & .tech-item{
            position: relative;
            list-style: none;
            margin: 0 calc(1em + 1vw);
            display: flex;
            align-items: center;
            transition: transform .3s linear;
            

            &::after{
                content:"";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #ddda;
                transition: all .3s linear;
                
            }
            &:hover::after{
                background-color: #ddd0;
            }

            &:hover{
                transform: scale(1.1);
            }

            & img{
                width: calc(2em + 7vw);
            }
        }

    }
}


/* === PROYECTOS === */

$project-image-size : 10vw;

@mixin underline-border($width, $color) {
    position:relative;
    overflow: hidden;
    &::before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height: $width;
        background-color: $color;
        bottom: 0;
    }
}

@mixin border-from-left($width, $color, $duration){
    @include underline-border($width, $color);
    &::before{
        right: 100%;
        transition: right $duration linear;
    }
    &:hover::before{
        right: 0;
    }
}

@mixin border-from-right($width, $color, $duration) {
    @include underline-border($width, $color);
    &::before{
        left: 100%;
        transition: left $duration linear;
    }
    &:hover::before{
        left: 0;
    }
}

@mixin border-from-center($width, $color, $duration){
    @include underline-border($width, $color);
    &::before{
        transform: scaleX(0);
        transition: all $duration ease-in-out;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

#project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $y-padding/2 $x-padding;

    &__title{
        font-size: $home__title-font-size;
        margin-bottom: $y-padding/2;
    }
    
    &__grid-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        row-gap: 20px;
        column-gap: 40px;
        width: 100%;
        // justify-items: center;

        & .project__grid-item{
            list-style: none;
            position: relative;
            box-shadow: 0px 0px 3px 1px $black-color-light;
            transition: all 1s linear;
            &:hover > .project__image-cover{
                visibility: visible;
            }

            & .project__image-cover{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #222a;
                color: #ddd;
                visibility: hidden;
                display: grid;
                place-content: center;
                place-items: center;
                row-gap: 10%;
                grid-template-areas: 
                "text text text text"
                "prev prev code code";
                padding: 10%;

                & .preview-icon, & .code-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    & img{
                        cursor: pointer;
                        width: 100%;
                        filter: $black-color-filter;                        
                    }
                }
                & .preview-icon{
                    @include border-from-right(2px, $black-color, .5s);
                    grid-area: prev;
                }
                
                & .code-icon{
                    @include border-from-left(2px, $black-color, .5s);
                    grid-area: code;
                }

                & .text-box{
                    grid-area: text;
                    display: flex;
                    align-items: flex-end;
                    & p{
                        color: $white-color;
                        text-decoration: underline;
                        font-size: 24px;
                    }
                }
            }

            & .project__image{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}


.tooltip{
    position: absolute;
    width: max-content;
    max-width: 200px;
    height: max-content;
    padding: 15px;
    font-size: calc(10px + .5vw);
    background-color: $black-color;
    color: $white-letter;
    border-radius: 5px;
    z-index: 10001;
}