*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

$x-padding: 10vw;
$y-padding: 20vh;

$black-color: #111;
$black-color-filter: invert(0%) sepia(0%) saturate(14%) hue-rotate(213deg) brightness(86%) contrast(73%);
$black-color-light: #444;
$white-color: #ddd;
$white-color-filter : invert(100%) sepia(3%) saturate(115%) hue-rotate(46deg) brightness(112%) contrast(87%);
$primary-color: #24a;
$primary-color-focus: #28a;
$home-background: #104;
$project-background: #002;

$white-letter: #fff;
$white-letter-disabled: #888;

$nav-font-size: calc(15px + .5vw);
$home__title-font-size: calc(1.5em + 1vw);
$home__about-font-size: calc(1.5em + 1vw);
$about-font-size: calc(.5em + 1vw);
$contact-label-fs: calc(1em + .5vw);



::-webkit-scrollbar{
    background: $black-color;
    // background: linear-gradient( $black-color 10%, $white-color 100%);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    // border-radius: 30px;
    background-color: $primary-color
}

/* === Navegation === */

#nav{
    width: 100%;
    height: 10vh;
    padding: 0 $x-padding;
    background-color: $black-color;
    position: sticky;
    top: 0;
    z-index: 10001;    
}

%button-setup{
    outline: none;
    background: none;
    border: none;
}

#nav{
    display: flex;

    &__list{
        flex: 1;
        display: flex;
        
        align-items: center;

        justify-content: flex-start;

        
    }
}

.list__item{
    list-style: none;
    
    
    &:first-child{
        button{
            margin-left: 0;
        }
    }
    &:not(:first-child){
        button{
            color: $white-letter-disabled;
        }
    }
    button{
        color: $white-letter;
        font-size: $nav-font-size;
        @extend %button-setup;
        margin: 0 3vw;
        cursor: pointer;
        &:hover{
            color: $primary-color;
        }
    }
    
}


/* === home === */

#home{
    position: relative;
    width: 100%;
    // height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0 $x-padding;
    padding-top: $y-padding;
    justify-content: flex-start;
    align-items: center;
    background: $home-background;
    // background-image: url("/assets/city.jpg");
    // background-image: url("https://lh3.googleusercontent.com/OC0O3tfe5OLQRXRKGFuouqGv1fhRPCi6kxhM4u4KBYH905e0W7il6YdoQvBM0Fw6lGXfdHA2wzrjrMhNZo7drDhQBU4monolxx7kYzrHerTE15vHI4-4Lz4WyOAimrj66buQW_cJG-v2eaeDfjfQUYi8xeRXRhunCGVVW6jfYKY92bzcbjG2xLcNFOZPl1Z6QSWO2u0rltkiPR4CNR-cW074gRiqMS6Kmr2i87Xmy-K2VKQcNPGSJpmKpKWO0ShyBs4X4FYcEk17eo6u_9-ogBNU9Rksdaavo3wkSNIpuAmzkA5seN8Sdwlm3450J5UzGH_GFD7fJ1HFLTHM_x2woMRwYJyg44akeXiOJHhTnoponkmhnGpW02rhVoGqhR6DtvnoryhylE8GiW6FdD_wkJQ6yFXUqP75mK7YwFw7hl4raEvLMW2_Vpn9x4V6JKGbwYcexw6pFeMXsmiawN2lkqfolx0ENCIGaz2OqfmFq16I1K4gsXMioM9lZdda086SFeSVK0-ll0qKKIWICRDJCGnbZ1Nd5XabNEMKCV7f1g42OvhtH-Lu4FYTdFylzdr9qr46tYGh7cDAj9bzQS7CndXwQDG2nCIHOU7wHJxYqhPxU8leC9z0W_DcrAC8ZPrWm9EZwk6XQ0b4hv6wwkSNuWjMni3pWD6RjugG0OlFt9d_GAdcR9DlRloY3Se5QSQXk1USnxl1g7gk9w662OS2rQ=w1188-h668-no?authuser=0");
    // background-repeat: no-repeat;
    // background-size: contain;
    &-background{
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 0;
    }

    &__title{
        background-color: $black-color;
        padding: 10px;
        border-radius: 15px;
        z-index: 10;
        & .home__title-text{
            color: $white-letter;
            font-size: $home__title-font-size;
        }
    }

    & #about{
        z-index: 2;
        background-color: $black-color;
        border-radius: 15px;
        padding: 5vh 0;
        margin-bottom: 20vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & #title{
            font-size: $home__about-font-size;
            text-decoration: underline;
            margin-bottom: 5vh;
            color: $white-letter;
        }

        & .about-text{
            margin-top: 10px;
            align-self: center;
            font-size: $about-font-size;
            color: $white-letter-disabled;
        }
    }


    & #tech-container{
        margin-top: 15vh;
        margin-bottom: 15vh;
        display: flex;
        
        & .tech-item{
            position: relative;
            list-style: none;
            margin: 0 calc(1em + 1vw);
            display: flex;
            align-items: center;
            transition: all .3s linear;
        
            &:hover{
                transform: scale(1.1);
            }

            & img{
                width: calc(2em + 7vw);
                // filter: $black-color-filter;
                
            }
            &:hover > img{
                filter: none;
            }
        }

    }
}


/* === PROYECTOS === */

$project-image-size : 10vw;

@mixin underline-border($width, $color) {
    position:relative;
    overflow: hidden;
    &::before{
        content:'';
        position:absolute;
        width:calc(100% + #{$width * 2});
        height: $width;
        background-color: $color;
        bottom: 0;
    }
}

@mixin border-from-left($width, $color, $duration){
    @include underline-border($width, $color);
    &::before{
        right: 100%;
        transition: right $duration linear;
    }
    &:hover::before{
        right: 0;
    }
}

@mixin border-from-right($width, $color, $duration) {
    @include underline-border($width, $color);
    &::before{
        left: 100%;
        transition: left $duration linear;
    }
    &:hover::before{
        left: 0;
    }
}

@mixin border-from-center($width, $color, $duration){
    @include underline-border($width, $color);
    &::before{
        transform: scaleX(0);
        transition: all $duration ease-in-out;
    }
    &:hover::before{
        transform: scaleX(1);
    }
}

#project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $y-padding/2 $x-padding;
    background-color: $project-background;
    & #title{
        display: flex;
        align-items: center;
        margin-bottom: $y-padding/2;
        h1{
            font-size: $home__title-font-size;
            color:$white-letter;
            margin-right: calc(1vw + 1em);
        }
    
        & img{
            height: calc(calc(1.5em + 1vw) * 2);
            filter: $white-color-filter;
            cursor: pointer;
            transition: all .3s linear;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    
    &__grid-box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        row-gap: 20px;
        column-gap: 40px;
        width: 100%;
        // justify-items: center;

        & .project__grid-item{
            list-style: none;
            position: relative;
            box-shadow: 0px 0px 3px 1px $primary-color;
            transition: all 1s linear;
            &:hover > .project__image-cover{
                visibility: visible;
            }

            & .project__image-cover{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #222a;
                color: #ddd;
                visibility: hidden;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                & .link-box{
                    width: 50%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 5%;

                    & .preview-icon, & .code-icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20%;
                        & img{
                            cursor: pointer;
                            width: 100%;
                            filter: $white-color-filter;                        
                        }
                    }
                    & .preview-icon{
                        @include border-from-right(2px, $white-color, .5s);
                    }
                    
                    & .code-icon{
                        @include border-from-left(2px, $white-color, .5s);
                    }
                }

                & .text-box{
                    grid-column: 1 / 3;
                    display: flex;
                    align-items: flex-end;
                    & p{
                        color: $white-color;
                        text-decoration: underline;
                        font-size: $contact-label-fs;
                    }
                }
            }

            & .project__image{
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}


/* === Contact/footer === */

#contact{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    // padding: $y-padding/2 0;
    background: $black-color;
}

#contact-content{
    background-color: $black-color;
    width: calc(400px + 30vw);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    & #title{
        color: $white-letter;
        font-size: $home__about-font-size;
        margin-bottom: 2.5vh;
    }

    & #contact-icons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        

        & .icon-container{
            width: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            & img, svg{
                cursor: pointer;
                width: 100%;
                height: 100%;
                
                filter: $white-color-filter;
                transition: all .3s linear;

                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        margin-bottom: 10px;
    }

    & #separator-container{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 2.5vh 0;
        width: 100%;
        & p{
            color: $white-letter-disabled;
            margin: 0 10px;
        }
        & .separator{
            
            width: 100%;
            height:1px;
            background-color: $black-color-light;
        }
    }


    & .form{
        width: 100%;
        padding: 0 2vw;

        & .form-input{
            margin: 2.5vh 0;
            color: #fff;
            width: 100%;
            padding: calc(7px + .5vw);
            border: none;
            border-bottom: 3px solid $primary-color;
            background-color: transparent;
            font-size: $about-font-size;
            &::placeholder{
                font-size: $about-font-size;
            }

            &:focus{
                outline: none;
                border-bottom: 3px solid $primary-color-focus;
                background-color: #333;
            }

            &[type="submit"]{
                background-color: $primary-color;
                color: #000;
                font-weight: 600;
                border-bottom: none;
                padding: 12px;
                cursor: pointer;
    
                &:hover{
                    background-color: $primary-color-focus;
                }
            }
        }
        & label{
            color: $white-letter;
            font-size: $about-font-size;
        }

        & textarea{
            min-height: 30vh;
            resize: none;
        }
    }
}

/* === tooltip === */

.tooltip{
    position: absolute;
    width: max-content;
    max-width: 15vw;
    height: max-content;
    padding: 15px;
    font-size: calc(10px + .5vw);
    background-color: $black-color;
    color: $white-letter;
    border-radius: 5px;
    z-index: 10001;

    border: 1px solid $black-color-light;
}

